{% extends '::base.html.twig' %}

{% block title %}
    {{ user.username }} | Créer un étudiant
{% endblock title %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="content_text">
            <div class="container">
                <h3>Ajout d'un étudiant</h3><br>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.nom) }}</label>
                            <div class="has-feedback">
                                {{ form_widget(form.nom, { 'attr': {'class': 'form-control','tabindex': '1'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.email) }}</label>
                            <div class="has-feedback" >
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control','id':'email','tabindex': '3'} }) }}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.prenom) }}</label>
                            <div class="has-feedback" >
                                {{ form_widget(form.prenom, { 'attr': {'class': 'form-control','tabindex': '2'} }) }}
                            </div>
                        </div>
                        <label class="control-label">Rôle : </label>
                        <div class="form-group">
                            <div class="has-feedback" tabindex="4">
                                <input type="checkbox" name="role" data-toggle="toggle" data-on="Etudiant" data-off="Délégué" data-onstyle="success" data-offstyle="danger">
                            </div>
                        </div>
                    </div>
                </div>

                <br><br><br><br>

                <div class="pull-right">
                    <a href="{{ path('gerer_promotion') }}" class="btn btn-default" tabindex="6">Annuler</a>
                    <button type="submit" class="btn btn-success" tabindex="5">Enregistrer</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script>
    </script>
{% endblock %}