{% extends '::base.html.twig' %}

{% block title %}
    {{ user.username }} | Créer une convention
{% endblock title %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="content_text">
            <div class="container">
                <h3>Ajout d'une convention</h3><br>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.type) }}</label>
                            <div class="has-feedback">
                                {{ form_widget(form.type, { 'attr': {'class': 'form-control','tabindex': '1'}, 'id': 'type'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">{{ form_label(form.prixheure) }}</label>
                            <div class="has-feedback">
                                {{ form_widget(form.prixheure, { 'attr': {'class': 'form-control','tabindex': '2'} }) }}
                            </div>
                        </div>
                    </div>
                </div>

                <br><br><br><br>

                <div class="pull-right">
                    <a href="{{ path('gerer_promotion', {'id' : convention.promotion.id}) }}" class="btn btn-default" tabindex="4">Annuler</a>
                    <button type="submit" class="btn btn-success" tabindex="3">Enregistrer</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}