{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Gestion de la promo M1</h3><br>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#etudiants">Etudiants</a></li>
                    <li><a data-toggle="tab" href="#matieres">Matières</a></li>
                    <li><a data-toggle="tab" href="#responsable">Responsable</a></li>
                </ul>

                <div class="tab-content">
                    <div id="etudiants" class="tab-pane fade in active" >
                        <table class="table table-bordered" style="background-color: white">
                            <thead>
                                <tr>
                                    <td width="30%"><b>Nom</b></td>
                                    <td width="30%"><b>Prénom</b></td>
                                    <td width="30%"><b>Email</b></td>
                                    <td colspan="2" style="background-color: #5cb85c; text-align: center"><a href="{{ path('ajouter_etudiant') }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-plus"></span></a></td>
                                </tr>
                            </thead>
                            <tbody>

                            {% if(lesEtudiants|length > 0) %}
                                {% for etudiant in lesEtudiants %}
                                    <tr>
                                        <td>{{ etudiant.nom|upper }}</td>
                                        <td>{{ etudiant.prenom }}</td>
                                        <td>{{ etudiant.email }}</td>
                                        <td style="background-color: #f0ad4e; text-align: center"><a href="#"><span style="color: white; width: 100%;" class="glyphicon glyphicon-pencil"></span></a></td>
                                        <td style="background-color: #d9534f; text-align: center"><a href="#"><span style="color: white; width: 100%;" class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="5">Aucun étudiant n'est encore affilié à la promotion.</td></tr>
                            {% endif %}


                            </tbody>
                        </table>
                    </div>

                    <div id="matieres" class="tab-pane fade">
                        <table class="table table-bordered" style="background-color: white">
                            <thead>
                            <tr>
                                <td width="40%"><b>Libellé</b></td>
                                <td><b>Heures de TD</b></td>
                                <td><b>Heures de Cours</b></td>
                                <td><b>Enseignant(s)</b></td>
                                <td colspan="2" style="background-color: #5cb85c; text-align: center"><a href="{{ path('ajouter_matiere', {'id':1}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-plus"></span></a></td>
                            </tr>
                            </thead>
                            <tbody>

                            {% for matiere in lesMatieres %}
                                <tr>
                                    <td>{{ matiere.libelle }}</td>
                                    <td>{{ matiere.nbHeuresMaquetteTD }}</td>
                                    <td>{{ matiere.nbHeuresMaquetteCours }}</td>
                                    <td>{{ matiere.lesEnseignants|join(', ') }}</td>
                                    <td style="background-color: #f0ad4e; text-align: center"><a href="{{ path('modifier_matiere', {'id':matiere.id}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td style="background-color: #d9534f; text-align: center"><a href="#"><span style="color: white; width: 100%;" class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div id="responsable" class="tab-pane fade" style="background-color: white">
                        <table class="table" style="background-color: white;">
                            <tr>
                                <td style="text-align: center; vertical-align: middle;" width="40%">
                                    Sélectionner un responsable de fillière :<br>
                                </td>
                                <!--<td width="30%" style=" vertical-align: middle;">
                                    <div class="has-feedback">
                                        <select id="enseignant" multiple="multiple">
                                            <option value="1">J.BENZAKKI</option>
                                            <option value="2">D.COURTAUD</option>
                                        </select>
                                    </div>
                                </td>-->
                                <td width="30%">
                                    <button type="button" class="btn btn-success">Valider</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('[data-toggle="popover"]').popover({
            html: true,
//placement:'top',
            trigger:'hover',
            container: 'body'
        });
    </script>

{% endblock %}
