{% extends '::base.html.twig' %}

{% block body %}

    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Gestion de la promotion {{ promotion.libelle }}</h3><br>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#etudiants">Etudiants</a></li>
                    <li><a data-toggle="tab" href="#matieres">Matières</a></li>
                    <li><a data-toggle="tab" href="#conventions">Conventions</a></li>
                </ul>

                <div class="tab-content">
                    <div id="etudiants" class="tab-pane fade in active" >
                        <table class="table table-bordered" style="background-color: white">
                            <thead>
                                <tr>
                                    <td width="30%"><b>Nom</b></td>
                                    <td width="30%"><b>Prénom</b></td>
                                    <td width="30%"><b>Email</b></td>
                                    <td colspan="2" style="background-color: #5cb85c; text-align: center"><a href="{{ path('ajouter_etudiant', {'id':promotion.id}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-plus"></span></a></td>
                                </tr>
                            </thead>
                            <tbody>

                            {% if(lesEtudiants|length > 0) %}
                                {% for etudiant in lesEtudiants %}
                                    <tr>
                                        {% if (etudiant.hasRole('ROLE_DELEGUE')) %}
                                        <td><i class="glyphicon glyphicon-star"></i> {{ etudiant.nom|upper }}</td>
                                        {% else %}
                                        <td>{{ etudiant.nom|upper }}</td>
                                        {% endif %}
                                        <td>{{ etudiant.prenom }}</td>
                                        <td>{{ etudiant.email }}</td>
                                        <td style="background-color: #f0ad4e; text-align: center"><a href="{{ path('modifier_etudiant', {'id':etudiant.id}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-pencil"></span></a></td>
                                        <td style="background-color: #d9534f; text-align: center"><a href="#"><span style="color: white; width: 100%;" class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="5">Aucun étudiant n'est encore affilié à la promotion.</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {# Onglet Matière #}
                    <div id="matieres" class="tab-pane fade">
                        <table class="table table-bordered" style="background-color: white">
                            <thead>
                            <tr>
                                <td width="40%"><b>Libellé</b></td>
                                <td><b>Heures de TD</b></td>
                                <td><b>Heures de Cours</b></td>
                                <td><b>Enseignant(s)</b></td>
                                <td colspan="2" style="background-color: #5cb85c; text-align: center"><a href="{{ path('ajouter_matiere', {'id':promotion.id}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-plus"></span></a></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for matiere in lesMatieres %}
                                <tr>
                                    <td>{{ matiere.libelle }}</td>
                                    <td>{{ matiere.nbHeuresMaquetteTD }}</td>
                                    <td>{{ matiere.nbHeuresMaquetteCours }}</td>
                                    <td>{{ matiere.lesEnseignants|join(', ') }}</td>
                                    <td style="background-color: #f0ad4e; text-align: center"><a href="{{ path('modifier_matiere', {'id':matiere.id}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td style="background-color: #d9534f; text-align: center"><a href="#"><span style="color: white; width: 100%;" class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {# Onglet Convention #}
                    <div id="conventions" class="tab-pane fade">
                        <table class="table table-bordered" style="background-color: white">
                            <thead>
                            <tr>
                                <td width="40%"><b>Type</b></td>
                                <td><b>Prix / heure</b></td>
                                <td colspan="2" style="background-color: #5cb85c; text-align: center"><a href="{{ path('ajouter_convention', {'id':promotion.id}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-plus"></span></a></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for convention in lesConventions %}
                                <tr>
                                    <td>{{ convention.type.libelle }}</td>
                                    <td>{{ convention.prixHeure }}</td>
                                    <td style="background-color: #f0ad4e; text-align: center"><a href="{{ path('modifier_convention', {'id':convention.id}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td style="background-color: #d9534f; text-align: center"><a href="#"><span style="color: white; width: 100%;" class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $('[data-toggle="popover"]').popover({
            html: true,
//placement:'top',
            trigger:'hover',
            container: 'body'
        });
    </script>

{% endblock %}