{% extends '::base.html.twig' %}

{% block title %}
    {{ user.username }} | Lister le personnel
{% endblock title %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Liste du personnel</h3><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td><b>Nom</b></td>
                        <td><b>Prénom</b></td>
                        <td><b>Email</b></td>
                        <td><b>Rôle(s)</b></td>
                        <td colspan="2" style="background-color: #5cb85c; text-align: center"><a href="{{ path('ajouter_personnel') }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-plus"></span></a></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for personnel in liste_personnel %}
                        <tr>
                            <td>{{ personnel.nom }}</td>
                            <td>{{ personnel.prenom }}</td>
                            <td>{{ personnel.email }}</td>
                            <td>{{ personnel.afficherRoles }}</td>
                            <td style="background-color: #f0ad4e; text-align: center"><a href="{{ path('modifier_personnel', {'id': personnel.id}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-pencil"></span></a></td>
                            <td style="background-color: #d9534f; text-align: center"><a href="#"><span style="color: white; width: 100%;" class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}