{% extends '::base.html.twig' %}

{% block title %}
    {{ user.username }} | Lister les promotions
{% endblock title %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Liste des promotions</h3><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="text-align: center">Libellé</th>
                        <th style="text-align: center">Nombre d'étudiants</th>
                        <th>Reponsable(s)</th>
                        <td colspan="2" style="background-color: #5cb85c; text-align: center"><a href="{{ path('ajouter_promo') }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-plus"></span></a></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for promotion in lesPromotions %}
                        <tr>
                            <td style="background-color: #4f53d9; text-align: center"><a style="color: white; width: 100%;" href="{{ path('gerer_promotion', {'id':promotion.id}) }}">{{ promotion.libelle }}</a></td>
                            <td style="text-align: center">{{ promotion.lesEtudiants|length }}</td>
                            <td>{{ promotion.lesResponsables|join(', ') }}</td>
                            <td style="background-color: #f0ad4e; text-align: center"><a href="{{ path('modifier_promo', {'id':promotion.id}) }}"><span style="color: white; width: 100%;" class="glyphicon glyphicon-pencil"></span></a></td>
                            <td style="background-color: #d9534f; text-align: center"><a href="#"><span style="color: white; width: 100%;" class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}