<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-heart"></i>&nbsp;MY E-TimeSheet</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted("ROLE_ETUDIANT") %}
                    <li><a class="active" href="{{ path('signaler_presence') }}">Signaler présence</a></li>
                {% endif %}
                {% if is_granted("ROLE_DELEGUE") %}
                    <li><a class="active" href="{{ path('creer_feuille_presence') }}">Créer la E-TimeSheet</a></li>
                {% endif %}
                {% if is_granted("ROLE_ENSEIGNANT") %}
                    <li><a class="active" href="{{ path('valider_cours') }}">Valider cours</a></li>
                {% endif %}
                {% if is_granted("ROLE_CFA") or is_granted("ROLE_SECRETAIRE") or is_granted("ROLE_RESPONSABLE") %}
                    <li><a class="active" href="{{ path('visionner_details_heures') }}">Récapitulatif des heures</a></li>
                    <li><a class="active" href="{{ path('historique_facture') }}">Historiques des factures</a></li>
                {% endif %}
                {% if is_granted("ROLE_USER") and (is_granted("ROLE_ADMIN") == false) %}
                    <li><a href="{{ path('historique_feuille_presence') }}">Historique des E-TimeSheet</a></li>
                    <li><a href="{{ path('historique_absence') }}">Historique des absences</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a class="active" href="{{ path('accueil_admin') }}">Accueil</a></li>
                    <li><a class="active" href="{{ path('liste_promotions') }}">Gérer les promotions</a></li>
                    <li><a class="active" href="{{ path('gerer_personnel') }}">Gérer le personnel</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('profil') }}">Profil&nbsp;<i class="glyphicon glyphicon-user"></i></a></li>
                <li><a href="{{ path('contact') }}">Contact&nbsp;<i class="glyphicon glyphicon-envelope"></i></a></li>
                <li><a href="{{ path('deconnexion') }}">Déconnexion&nbsp;<i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script>