{% extends '::base.html.twig' %}

{% block title %}
    {{ user.initiale }} | Voir le détail des heures de cours
{% endblock title %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Horaire par matière</h3><br>
                <button type="button" class="btn btn-primary pull-right">Générer la facture</button>
                <ul class="nav nav-tabs">
                    {% for onglet in recapHeuresMatiere %}
                        <li><a data-toggle="tab" href="#{{ onglet.promotion.libelle }}">{{ onglet.promotion.libelle }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for onglet in recapHeuresMatiere %}
                        <div id="{{ onglet.promotion.libelle }}" class="tab-pane fade in active" >
                            <table class="table table-bordered" id="tableToggle" style="background-color: white">
                                <thead>
                                <tr>
                                    <th class="info" ></th>
                                    {% for mois in moisScolaire %}
                                        <th class="info" style="text-align: center">{{ mois }}</th>
                                    {% endfor %}
                                    <th class="info" style="text-align: center">Total effectuées</th>
                                    <th class="info" style="text-align: center">Heures manquées</th>
                                    <th class="info" style="text-align: center">Total prévu</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for matiere in onglet.promotion %}
                                    <tr>
                                        <th class="info" scope="row" style="cursor:pointer"><div class="tableToggleButton"><span class="glyphicon glyphicon-chevron-right"></span> {{ matiere.matiere.libelle }}</div></th>
                                        <td style="text-align: center">10</td>
                                        <td style="text-align: center">10</td>
                                        <td style="text-align: center">10</td>
                                        <td style="text-align: center">10</td>
                                        <td style="text-align: center">10</td>
                                        <td style="text-align: center">10</td>
                                        <td style="text-align: center">9</td>
                                        <td style="text-align: center">9</td>
                                        <td style="text-align: center">9</td>
                                        <td style="text-align: center">9</td>
                                        <td style="text-align: center">9</td>
                                        <td class="warning" style="text-align: center"><b>101</b></td>
                                        <td class="warning" style="text-align: center"><b>4</b></td>
                                        <td class="info" style="text-align: center"><b>{{ matiere.nbHeuresMaquettesCours }}</b></td>
                                    </tr>
                                    {% for type in matiere.type %}
                                        <tr class="toggleable">
                                            <td class="info" scope="row">{{ type.type.libelle }}</td>
                                            <td style="text-align: center">6</td>
                                            <td style="text-align: center">6</td>
                                            <td style="text-align: center">6</td>
                                            <td style="text-align: center">6</td>
                                            <td style="text-align: center">6</td>
                                            <td style="text-align: center">6</td>
                                            <td style="text-align: center">5</td>
                                            <td style="text-align: center">5</td>
                                            <td style="text-align: center">5</td>
                                            <td style="text-align: center">5</td>
                                            <td style="text-align: center">5</td>
                                            <td class="success" style="text-align: center">61</td>
                                            <td class="success" style="text-align: center">0</td>
                                            <td class="info" style="text-align: center">61</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                <tr>
                                    <th class="info" scope="row">Total effectuées</th>
                                    <td class="active" style="text-align: center"><b>40</b></td>
                                    <td class="active" style="text-align: center"><b>40</b></td>
                                    <td class="active" style="text-align: center"><b>40</b></td>
                                    <td class="active" style="text-align: center"><b>40</b></td>
                                    <td class="active" style="text-align: center"><b>40</b></td>
                                    <td class="active" style="text-align: center"><b>40</b></td>
                                    <td class="active" style="text-align: center"><b>36</b></td>
                                    <td class="active" style="text-align: center"><b>36</b></td>
                                    <td class="active" style="text-align: center"><b>36</b></td>
                                    <td class="active" style="text-align: center"><b>36</b></td>
                                    <td class="active" style="text-align: center"><b>36</b></td>
                                    <td class="danger" style="text-align: center"><b>404</b></td>
                                    <td class="danger" style="text-align: center"><b>16</b></td>
                                    <td class="info" style="text-align: center"><b>420</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#tableToggle tr.toggleable" ).hide();

            $("#tableToggle .tableToggleButton" ).click(function(){
                var next = $(this).parent().parent().nextAll('tr:has(div.tableToggleButton)').first();
                $(this).parent().parent().nextUntil(next, ".toggleable").slideToggle('medium');
                $(this).children('span').toggleClass("glyphicon-chevron-right");
                $(this).children('span').toggleClass("glyphicon-chevron-down");
            });
        });

    </script>
{% endblock %}
