{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Historique de tes absences ({{ lesAbsences|length }})</h3><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Horaire</th>
                        <th>Cours</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if(lesAbsences|length > 0) %}
                        {% for absence in lesAbsences %}
                            <tr>
                                <td>{{ absence.leCours.ets.date|date('d/m/Y') }}</td>
                                <td>{{ absence.leCours.horaire|date('H:i') }}</td>
                                <td>{{ absence.leCours.matiere.libelle }}</td>
                                <td>{{ absence.leCours.type.libelle }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="5">Aucune absence n'est encore affilié à l'étudiant.</td></tr>
                    {% endif %}
                    </tbody>
                </table>
                {% if totalHeureAbsence >= 1 %}
                    <h3>Tu as {{ totalHeureAbsence |date('H') }}:{{ (totalHeureAbsence |date('i')*6) }} d'absence(s)</h3>
                {% else %}
                    <h3>Tu n'as aucune absence ! continue comme ça jeune padawan <span class="glyphicon glyphicon-thumbs-up"></span></h3>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}