{% extends '::base.html.twig' %}

{% block title %}
    {{ user.initiale }} | Signaler présence
{% endblock title %}

{% block body %}
    {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Signaler sa présence pour ce {{ "now"|date("d/m/Y") }}</h3><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Horaire</th>
                        <th>Cours</th>
                        <th>Enseignant</th>
                        <th>Présent</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if(lesCours|length > 0) %}
                        {% for cours in lesCours %}
                            <tr>
                                <td>{{ cours.horaire|date('H:i') }}</td>
                                <td>{{ cours.matiere.libelle }}</td>
                                <td>{{ cours.enseignant }}</td>
                                {% for userCours in cours.getLesEtudiants() %}
                                     {% if(app.user == userCours.lEtudiant) %}
                                        {% if(userCours.getEtudiantPresent()) %}
                                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                                        {% else %}
                                            <td><a href="{{ path('signaler_presence', {'leCours':cours.id}) }}"><button type="button" class="btn btn-success">Présent</button></a></td>
                                        {% endif %}
                                     {% endif %}
                                {% endfor %}
                                {% if is_granted("ROLE_DELEGUE") %}
                                    <td><a href="{{ path('signaler_absence_enseignant', {'leCours':cours.id}) }}"><button type="button" class="btn btn-warning">Enseignant absent</button></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                     {% else %}
                        <tr><td colspan="5">Aucun cours à afficher.</td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}