{% extends '::base.html.twig' %}

{% block title %}
    {{ user.username }} | Voir la ETS du jour
{% endblock title %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">

                <h3>Visionner les cours du jour {{ "now"|date("d/m/Y") }} <button type="button" class="btn btn-warning glyphicon glyphicon-pencil"></button></h3><br>

                <ul class="nav nav-tabs">
                    {% for onglet in lesCours %}
                        <li {% if loop.index == 1 %}class="active"{% endif %}><a data-toggle="tab" href="#{{ onglet.promo }}">{{ onglet.promo }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for onglet in lesCours %}
                        <div id="{{ onglet.promo }}" class="tab-pane fade in {% if loop.index == 1 %}active{% endif %}" >
                            <table class="table" style="background-color: white">
                                <thead>
                                <tr bgcolor="">
                                    <th></th>
                                    {% for cours in onglet.cours %}
                                        {%  if cours.cours.estValide %}
                                            <th valign="center">
                                                <span style="color: white;display:inline-block; background-color: darkgrey; padding: 5px;border: 2px solid darkgrey;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;">
                                                    Validé
                                                    {% if cours.cours.getNbAbsents > 0 %}
                                                        <span class="badge" style="background-color: red">{{ cours.cours.getNbAbsents }}</span>
                                                    {% endif %}
                                                </span>
                                            </th>
                                        {% else %}
                                            <th valign="center">
                                                <a href="{{ path('valider_cours', {'leCours':cours.cours.id}) }}"><button type="button" class="btn btn-success">
                                                        Valider
                                                        {% if cours.cours.getNbAbsents > 0 %}
                                                            <span class="badge" style="color:white;background-color: red">{{ cours.cours.getNbAbsents }}</span>
                                                        {% endif %}                                                </button></a>
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Elève</th>
                                    {% for cours in onglet.cours %}
                                        <th>{{ cours.cours.matiere.libelle }}<br>{{ cours.cours.getHoraire() }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for user_cours in (onglet.cours|first).etudiants %}
                                    <tr>
                                        <td>{{ user_cours.lEtudiant }}</td>
                                        {% for cours in onglet.cours %}
                                            {% for uc in cours.etudiants %}
                                                {% if uc.lEtudiant == user_cours.lEtudiant %}
                                                    {% if uc.etudiantPresent %}
                                                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                                                    {% else %}
                                                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>

{% endblock %}