{% extends '::base.html.twig' %}

{% block title %}
    {{ user.username }} | Voir la ETS du jour
{% endblock title %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Visionner les cours du jour {{ "now"|date("d/m/Y") }} <button type="button" class="btn btn-warning glyphicon glyphicon-pencil"></button></h3><br>
                <b>Nombre d'élèves :</b> {{ etudiantsPresents|length }}/{{ nbMaxEtudiants }} {{ etudiantsAbsents|length }} absents<br><br>
                <h4>Tableau des absents</h4><br>
                <table class="table" style="background-color: white">
                    <thead>
                    <tr>
                        <th>Elève</th>
                        {% for cours in lesCours %}
                            <th>{{ cours.getHoraire() }} - + 1h30</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for etudiant in etudiantsAbsents %}
                        <tr>
                            <td>{{ etudiant.getNom() |upper }} {{ etudiant.getPrenom() }}</td>
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <br><h4>Tableau des présents</h4><br>
                <table class="table" style="background-color: white">
                    <thead>
                    <tr>
                        <th>Elève</th>
                        {% for cours in lesCours %}
                            <th>{{ cours.getHoraire() }} - + 1h30</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for etudiant in etudiantsPresents %}
                        <tr>
                            <td>{{ etudiant.getNom() |upper }} {{ etudiant.getPrenom() }}</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                    {% endfor %}
                    <br/>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}